<div class="contemporary-template">
	<section class="contemporary-template__header">
		<div class="contemporary-template__header__logo fs-exclude">
			<img src="https://waveaccounting_file_storage.s3.amazonaws.com/uploads/invoices/business_logos/bf27c4bf-28d2-4d0d-9321-27638f01db9f.jpg?Signature=VM68a0CN82YxTPTxuC%2FseTQRK9s%3D&amp;Expires=1455894317&amp;AWSAccessKeyId=AKIAIEYMZDM3BAFQO2WQ">
		</div>
		<div class="contemporary-template__header__info fs-exclude">
			<div class="wv-heading--title">INVOICE</div>
			<strong class="wv-text--strong">Webneoo</strong>
			<div class="address">
				<div class="address__field fs-exclude"></div>
				<div class="address__field fs-exclude">
					<span class="wv-text wv-text--body">Jal El Dib Main Road</span>
				</div>
				<div class="address__field fs-exclude">
					<span class="wv-text wv-text--body">Centre Mallah</span>
				</div>
				<div class="address__field fs-exclude">
					<span class="wv-text wv-text--body">Beirut, Mont-Liban</span>
				</div>
				<div class="address__field">
					<span class="wv-text wv-text--body">Lebanon</span>
				</div>
			</div>
			<br>
			<div class="address">
				<div class="address__field fs-exclude"></div>
				<div class="address__field fs-exclude"></div>
				<div class="address__field fs-exclude"></div>
				<div class="address__field fs-exclude"></div>
				<div class="address__field fs-exclude"></div>
			</div>
		</div>
	</section>
	<div class="contemporary-template__divider--full-width">
		<div class="wv-divider"></div>
	</div>
	<section class="contemporary-template__metadata">
		<div class="contemporary-template__metadata__customer">
			<span class="contemporary-template__metadata__customer__wrapper">
				<div class="contemporary-template__metadata__customer--billing">
					<div class="fs-exclude">
						<div>
							<span class="wv-text wv-text--block-label">BILL TO</span>
						</div>
						<strong class="wv-text--strong">Na2ashet</strong>
					</div>
					<div class="address">
						<div class="address__field fs-exclude">
							<span class="wv-text wv-text--body">Michel Debs</span>
						</div>
						<div class="address__field fs-exclude"></div>
						<div class="address__field fs-exclude"></div>
						<div class="address__field fs-exclude"></div>
						<div class="address__field"></div>
						<div class="address__field">&nbsp;</div>
						<div class="address__field fs-exclude">
							<span class="wv-text wv-text--body">+961 3 490 049</span>
						</div>
						<div class="address__field fs-exclude">
							<span class="wv-text wv-text--body">micheldebs@gmail.com</span>
						</div>
					</div>
				</div>
			</span>
		</div>
		<div class="invoice-template-details">
			<table class="wv-table--plain">
				<tbody class="wv-table__body">
					<tr class="wv-table__row--header">
						<td class="wv-table__cell" colspan="1">
							<strong class="wv-text--strong">
								<span>Invoice Number</span>
								<span>:</span>
							</strong>
						</td>
						<td class="wv-table__cell" colspan="1">
							<span class="wv-text wv-text--body">144</span>
						</td>
					</tr>
					<tr class="wv-table__row--header">
						<td class="wv-table__cell" colspan="1"></td>
						<td class="wv-table__cell" colspan="1"></td>
					</tr>
					<tr class="wv-table__row--header">
						<td class="wv-table__cell" colspan="1">
							<strong class="wv-text--strong">
								<span>Invoice Date</span>
								<span>:</span>
							</strong>
						</td>
						<td class="wv-table__cell" colspan="1">
							<span class="wv-text wv-text--body">February 17, 2016</span>
						</td>
					</tr>
					<tr class="wv-table__row--header">
						<td class="wv-table__cell" colspan="1">
							<strong class="wv-text--strong">
								<span>Payment Due</span>
								<span>:</span>
							</strong>
						</td>
						<td class="wv-table__cell" colspan="1">
							<span class="wv-text wv-text--body">February 17, 2016</span>
						</td>
					</tr>
					<tr class="wv-table__row--header">
						<td class="wv-table__cell" colspan="1">
							<strong class="wv-text--strong">
								<span>Amount Due (USD)</span>
								<span>:</span>
							</strong>
						</td>
						<td class="wv-table__cell" colspan="1">
							<span class="wv-text wv-text--body">$1,000.00</span>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</section>
	<div class="contemporary-template__items">
		<table class="wv-table">
			<thead class="wv-table__header" style="background-color:#000000;">
				<tr class="wv-table__row">
					<th class="wv-table__cell" colspan="4" style="color:#FFFFFF;">Product</th>
					<th class="wv-table__cell--smaller contemporary-template__items__column--center" colspan="1" style="color:#FFFFFF;">Quantity</th>
					<th class="wv-table__cell--amount" colspan="1" style="color:#FFFFFF;">Price</th>
					<th class="wv-table__cell--amount" colspan="1" style="color:#FFFFFF;">Amount</th>
				</tr>
			</thead>
			<tbody class="wv-table__body">
				<tr class="wv-table__row">
					<td class="wv-table__cell" colspan="4">
						<span class="fs-exclude">
							<strong class="wv-text--strong">Social Media Management</strong>
							<p class="wv-table__cell--nested">Social Media Agency Fees</p>
						</span>
					</td>
					<td class="wv-table__cell contemporary-template__items__column--center" colspan="1">
						<span class="wv-text wv-text--body">1</span>
					</td>
					<td class="wv-table__cell--amount" colspan="1">
						<span class="wv-text wv-text--body">$1,000.00</span>
					</td>
					<td class="wv-table__cell--amount" colspan="1">
						<span class="wv-text wv-text--body">$1,000.00</span>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="contemporary-template__divider--full-width contemporary-template__divider--bold">
		<div class="wv-divider"></div>
	</div>
	<section class="contemporary-template__totals">
		<div class="contemporary-template__totals__blank"></div>
		<div class="contemporary-template__totals__amounts">
			<div class="contemporary-template__totals__amounts__line">
				<div class="contemporary-template__totals__amounts__line__label">
					<strong class="wv-text--strong">Total:</strong>
				</div>
				<div class="contemporary-template__totals__amounts__line__amount">
					<span class="wv-text wv-text--body">$1,000.00</span>
				</div>
			</div>
			<div></div>
			<div class="contemporary-template__divider--bold contemporary-template__divider--small-margin">
				<div class="wv-divider"></div>
			</div>
			<div>
				<div class="contemporary-template__totals__amounts__line">
					<div class="contemporary-template__totals__amounts__line__label">
						<strong class="wv-text--strong">
							<span>Amount Due (USD)</span>
							<span>:</span>
						</strong>
					</div>
					<div class="contemporary-template__totals__amounts__line__amount">
						<strong class="wv-text--strong">$1,000.00</strong>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>